bak/
chart/
node_modules/
learning/
!us_daily.sh
!asia.sh
!rp.sh
!nd/*.sh
!learning/capture/out.sh
.DS_Store
*.sh
*.pyc
*.map
*config.ini
*config.json
!tsconfig.json
*.log
*.bak
*.cookie
*.png
*-hid/
tutorial/