config.ini
config.json
bak/
data/
sgx/fa/
*.pyc
*.sh
*.cookie
*.png
!us.sh
!asia.sh
!rp.sh
node_modules/
nd/*.txt
!nd/*.sh
chart/*.csv
chart/*.log
chart/*.js
!chart/*etl*.js
!learning/capture/*.sh
.DS_Store

