config.ini
config.json
bak/
data/
sgx/fa/
*.pyc
*.sh
*.cookie
*.png
!us.sh
!asia.sh
!rp.sh
node_modules/
nd/*.txt
!nd/*.sh
chart/*.csv
chart/*.log
chart/*.js
!chart/*etl*.js
chart/d/*.csv
!chart/d/world_^USX_d.csv
!learning/capture/*.sh
.DS_Store

